body {
    background-image: url('https://www.usinenouvelle.com/mediatheque/2/1/6/000565612_896x598_c.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
  }

  h1 {
    color: white;
    text-decoration-line: underline;
  }

  h3 {
    color: white;
  }
  h4 {
    color: white;
  }
  h2 {
    color: white;
  }
  h5 {
    color: white;
  }
  h6 {
    color: white;
  }
  
  table, th, td {
    border: 1px solid;
    width: 60%;
    color:white;
    text-align: center;
  }
