table, th, td {
    border: 1px solid;
    width: 70%;
    color:white;
  }

  body {
    background-image: url('https://www.usinenouvelle.com/mediatheque/2/1/6/000565612_896x598_c.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
  }

  h1 {
    color : white;
    text-decoration-line: underline;
  }

  a {
    text-align-last: left;
    color : red;
  }

  